# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*~
.DS_Store

# Flask specific
instance/
# Add any other specific files or folders your Flask app generates that should be ignored
# e.g., database files if not managed by migrations and meant to be local
# *.db

.env